html {

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*unicode-bidi: bidi-override;*/
  unicode-bidi: bidi-override !important;
  direction: unset !important;
}

.editor {
  min-height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
}

.typeahead {
  width: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  border-radius: 3px;
  list-style-type: none;
}
.person {
  margin: 0;
  padding: 4px 8px;
  position: relative;
}
.person a {
  display: block;
}
.selectedPerson {
  background: #63a29c;
  color: white;
  cursor: pointer;
}
.courier {
  font-family: Courier;
  font-weight: bold;
  font-size: 13px;
}
.mention {
  color: #63a29c;
  /*cursor: pointer;*/
}
.action {
  padding: 8px 0;
}
.character {
  padding: 0 150px;
}
.dialogue {
  padding: 0 70px;
}
.display-none {
  display: none;
}
.add-character {
  padding: 8px;
  text-align: center;
  background-color: #eeeeee;
  cursor: pointer;
}
.character-details {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100px;
  border-radius: 2px;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  z-index: 99;
  background-color: white;
  /*cursor: default;*/
}
.character-information {
  padding: 8px;
}
.character-information-title {
  background-color: #63a29c;
  color: white;
  margin: -8px -8px 8px -8px;
  padding: 8px;
}
.DraftEditor-root [id^="placeholder-"] {
  font-family: Courier;
  font-weight: bold;
  font-size: 13px;
}
