.editor-s {
  min-height: 80px;
  padding: 16px;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  border: 1px solid #ddd;
  /*background-color: white;*/
}
.typeahead {
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  border-radius: 3px;
  z-index: 2;
  font-family: Arial;
}
.typeahead ul {
  width: 200px;
  /*max-height: 250px;*/
  /*overflow-y: auto;*/
  margin: 0;
  padding: 8px 0 0 0 ;
  list-style-type: none;
  /*background: white;*/
}
.person {
  margin: 0;
  padding: 4px 8px;
  position: relative;
}
.person a {
  display: block;
}
.selectedPerson {
  background: #2980b9;
  color: white;
  cursor: pointer;
}
.courier {
  font-family: Courier;
  font-weight: bold;
  font-size: 13px;
}
.mention {
  color: #2980b9;
  /*cursor: pointer;*/
  position: relative;
}
.action {
  padding-top: 8px;
}
.character {
  padding: 0 33.3333%;
}
.dialogue {
  padding: 0 16.666%;
}
.display-none {
  display: none;
}
.add-character {
  padding: 8px;
  text-align: center;
  background-color: #eeeeee;
  cursor: pointer;
}
.character-details {
  position: absolute;
  top: 0;
  width: 300px;
  /*height: 100px;*/
  border-radius: 2px;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  z-index: 99;
  background-color: white;
  /*cursor: default;*/
}
.character-information {
  padding: 8px;
}
.character-information-title {
  background-color: #2980b9;
  color: white;
  margin: -8px -8px 8px -8px;
  padding: 8px;
}
.DraftEditor-root [id^="placeholder-"] {
  font-family: Courier;
  font-weight: bold;
  font-size: 13px;
}
.character-information-1 {
  display: flex;
  align-items: flex-start;
}
.character-information-1 .character-img {
  width: 100px;
  margin-right: 10px;
}
.character-information-1 .character-img img {
  max-width: 100%;
}
.character-information-1 .character-data {
  width: 190px;
  font-size: 12px;
}

.descr {
  position: absolute;
  /*bottom: -100%;*/
  right: 0;
  background-color: #cccccc;
  z-index: 999;
  cursor: default;
}
.character-p {
  position: absolute;
  background-color: white;
}
.parenthes-1 {
  padding-left: 16px;
  padding-right: 16px;
  display: inherit;
}
.script-contributions-ctrls {
  margin: -16px;
  margin-bottom: 16px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e2e2e2;
}
.script-contributions-ctrls a {
  display: inline-block;
  text-align: center;
  padding: 16px 2px;
  width: 25%;

}

.expanded-script {
  max-height: 300px;
  overflow-y: hidden;
}

/*@media (max-width: 767px) {*/
/*.script-editor {*/
/**/
/*}*/
/*}*/