body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.editor {
  min-height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
}

.typeahead {
  width: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  border-radius: 3px;
  list-style-type: none;
}
.person {
  margin: 0;
  padding: 16px 24px
}
.selectedPerson {
  margin: 0;
  padding: 16px 24px;
  background: #63a29c;
  color: white;
  cursor: pointer;
}
.courier {
  font-family: Courier;
  font-weight: bold;
  font-size: 13px;
}
.mention {
  color: #63a29c;
  /*cursor: pointer;*/
}
.action {
  padding: 8px 0;
}
.character {
  padding-left: 150px;
}
.dialogue {
  padding-left: 70px;
}
.display-none {
  display: none;
}
.add-character {
  padding: 8px;
  text-align: center;
  background-color: #eeeeee;
  cursor: pointer;
}
.DraftEditor-root [id^="placeholder-"] {
  font-family: Courier;
  font-weight: bold;
  font-size: 13px;
}
